body {
  font-family: NanumGothic;
  margin: 0; }

.left {
  position: fixed;
  width: 60%;
  height: 100%;
  padding: 10px;
  padding-right: 5px;
  overflow: auto; }

.right {
  position: fixed;
  width: 40%;
  left: 60%;
  padding: 10px;
  padding-left: 5px;
  padding-bottom: 0;
  height: 100%;
  overflow: auto; }

.log-container footer {
  position: relative;
  width: 100%;
  background-color: lightgray; }
  .log-container footer .btnMore {
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: x-large;
    cursor: pointer; }
